<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.luckylight.mapper.FlowMapper">
    <resultMap id="BaseResultMap" type="club.luckylight.model.Flow">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="club.luckylight.model.Flow" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO flow (create_time, update_time) VALUES (#{createTime}, #{updateTime})
    </insert>
</mapper>